@font-face {
  font-family: 'Ostrich Sans Inline';
  src: url('../resources/ostrich-sans-inline-regular.eot'); /* IE9 Compat Modes */
  src: url('../resources/ostrich-sans-inline-regular?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('..//resources/ostrich-sans-inline-regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../resources/ostrich-sans-inline-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../resources/ostrich-sans-inline-regular.svg#ostrich-sans-inline-regular') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Overpass", sans-serif;
  text-transform: lowercase;
  font-size: 24px;
}

h1 {
  font-family: "Ostrich Sans Inline", "Arial", sans-serif;
  font-size: 140px;
}

.container {
  width: 80%;
}

.intro-splash {
  text-align: center;
  width: 60%;
  margin: auto;
}

#play {
  display: none;
  text-align: center;
  width: 60%;
  margin: 10% auto;
}

button {
  text-transform: lowercase;
}

button:hover {
  background-color: black;
}

.white-text:hover {
  color: white;
}

#output {
  font-size: 16px;
  text-align: center;
  list-style: none;
  padding-right: 40px;
  margin: -30px auto;
}

.ping-pong {
  color: red;
  font-weight: 700;
}
